.Nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: burlywood;
    color: black;
}


.Nav-Links {
    width: 33%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Link:link {
    text-decoration: none;
}

.Link:visited {
    color: inherit;
}
